

.form{
    flex: 0 1 10%;
    width: 80%;
    max-width: 60rem;
    align-content: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom left, rgba(50, 137, 42, 0.8), rgba(50, 137, 42, 0.8));
    border-radius: 1rem;
    margin: 2rem 0;

    &__group{
        padding: 0 1rem;
        justify-content: center;
        display: flex;
        flex-direction: column;
        &:not(:last-child) {
            margin-bottom: .5rem;
        }
        &--horizontal{
            display: flex;
            flex-direction: row;
        }
    }

    &__header{
        font-size: 4rem;
        color: $color-grey-light-1;
        margin-bottom: 3rem;
        text-align: center;
    }

    &__input{
        border-radius: 0.5rem;
        padding: 2rem 2rem;
        font-size: 2rem;
        font-family: inherit;
        background-color: $color-black;
        color: $color-primary-light;
        border: none;
        border-bottom: 3px solid transparent;
        transition: all .2s;
        /* &__input-warper{
            min-height: 3.6rem;
        } */
        &--small{
            padding: 1rem 1rem;
            border-bottom: none;
            margin-right:0;
            border-radius: 0.5rem 0 0 0.5rem;
            min-width: 35rem;
            text-align: center;
        }
        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, .1);
            border-bottom: 3px solid $color-primary;
        }

        &:focus:invalid {
            border-bottom: 3px solid $color-secondary-dark;
        }

        &::-webkit-input-placeholder {
            color: inherit;
        }
        &:-webkit-autofill,
        &:-webkit-autofill:hover, 
        &:-webkit-autofill:focus, 
        &:-webkit-autofill:active  {
            box-shadow: 0 0 0 4rem rgb(0, 0, 0) inset !important;
            -webkit-text-fill-color: $color-primary-light;
        }
    }

    &__label {
        font-size: 2rem;
        color: $color-grey-light-1;
        margin-left: 2rem;
        margin-top: .7rem;
        display: block;
        transition: all .3s;
    }

    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }


    &__links{
        background: linear-gradient(to bottom left, rgba(214, 214, 214, 0.8),rgba(196, 196, 196, 0.8));
        color: $color-black;
        display: flex;
        justify-content: space-around;
        padding: 3rem 5rem;
        border-radius:  0 0 1rem 1rem;
        a, a:visited{
            font-size: 2rem;
            color: $color-black;
            text-decoration: none;
            transition: all .2s;
            transform: translateY(0px) scale(1);
        }

        a:hover, a:active, a:focus
        {
            color: $color-grey-dark-1;
            transform: translateY(-2px) scale(1.1);

        }
        font-size: 2rem;
    }
    &__invalid-feedback{
        font-size: 1.5rem;
        color: $color-secondary-dark;
        margin-bottom: 1rem;
        font-weight: 700;
        background: $color-grey-dark-1;
        border-radius: 1rem;
        position: relative;
        padding: .5rem;
        transition: all .35s;
        text-align: center;
        &::before{
            content: "";
            position: absolute;
            display: inline-block;
            width: 2rem;
            height: 2rem;
            background-color: $color-grey-dark-1;
            bottom:-.5rem;
            left: 50%;
            transform: translate(-50% -50%);
            rotate: 45deg;
        }
        span{
            position: relative;
        }
    }
}