{% extends "riddle_base.html" %}
{% block bg %}
<div class="riddle__4__bg-image"></div>
{% endblock %}
{% block riddle %}
<div class="riddle__4">
    <span class="riddle__4__text">
    </span>
    <div class="riddle__4__button-container">
        <div class="push-button" style="--btn-color-dark: #ff0000;--btn-color-light: #ff4d4d; --btn-size: 5rem">
            <div class="push-button__screw"></div>
            <div class="push-button__screw"></div>
            <div class="push-button__screw"></div>
            <div class="push-button__screw"></div>
            <div class="push-button__button"></div>
        </div>
        <div class="push-button" style="--btn-color-dark: #00bd00;--btn-color-light: #00d300; --btn-size: 5rem">
            <div class="push-button__screw"></div>
            <div class="push-button__screw"></div>
            <div class="push-button__screw"></div>
            <div class="push-button__screw"></div>
            <div class="push-button__button"></div>
        </div>
        <div class="push-button" style="--btn-color-dark: #0000ff;--btn-color-light: #3333ff; --btn-size: 5rem">
            <div class="push-button__screw"></div>
            <div class="push-button__screw"></div>
            <div class="push-button__screw"></div>
            <div class="push-button__screw"></div>
            <div class="push-button__button"></div>
        </div>
        <div class="push-button" style="--btn-color-dark: #dde000;--btn-color-light: #fcff1a; --btn-size: 5rem">
            <div class="push-button__screw"></div>
            <div class="push-button__screw"></div>
            <div class="push-button__screw"></div>
            <div class="push-button__screw"></div>
            <div class="push-button__button"></div>
        </div>
        <div class="push-button" style="--btn-color-dark: #333;--btn-color-light: #666; --btn-size: 5rem">
            <div class="push-button__screw"></div>
            <div class="push-button__screw"></div>
            <div class="push-button__screw"></div>
            <div class="push-button__screw"></div>
            <div class="push-button__button"></div>
        </div>

    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="../static/js/riddle_specific/4.js"></script>
{% endblock %}