{% extends "base.html" %}

{% block main %}
<canvas id="c"></canvas>
<section class="section-login">
    <form method="post" class="form" action="" onsubmit="return disableSubmitButton(this);" novalidate>
        <h2 class="form__header u-margin-top-medium">Change password</h2>
        {{ form.csrf_token }}
        <div class="form__group">
            {% if form.password.errors %}
                <div class="form__invalid-feedback">
                    {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
            {{ form.password(class="form__input", placeholder="Password", type="password") }}
            {{ form.password.label(class="form__label") }}
        </div>
        <div class="form__group">
            {% if form.password_confirm.errors %}
                <div class="form__invalid-feedback">
                    {% for error in form.password_confirm.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
            {{ form.password_confirm(class="form__input", placeholder="Confirm Password", type="password") }}
            {{ form.password_confirm.label(class="form__label") }}
        </div>
        <div class="form__group u-margin-bottom-medium">
            <button type="submit" class="btn--login">Submit</button>
        </div>
    </form>
</section>
{% endblock %}


{% block scripts %}
<script src="../static/js/background.js"></script>
{% endblock %}