{% extends "base.html" %}


{% block main %}

<canvas id="c"></canvas>
<section class="section-login">
    <form method="post" class="form" action="" onsubmit="return disableSubmitButton(this);" novalidate>
        <h2 class="form__header u-margin-top-medium">Forgot password</h2>
        {{ form.csrf_token }}
        <div class="form__group">
            {% if form.email.errors %}
                <div class="form__invalid-feedback">
                    {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
            {{ form.email(class="form__input", placeholder="Enter your email address", type="email") }}
            {{ form.email.label(class="form__label") }}
        </div>
        <div class="form__group u-margin-bottom-medium">
            <!-- {{ form.submit(class="btn btn--login")}} -->
            <button type="submit" class="btn--login">Change Password</button>
        </div>
        <div class="form__links">
            <!-- {% if form.errors %}
            {{ form.errors }}
            {% endif %} -->
            <a href="{{ url_for('login') }}">log in </a> | <a href="{{ url_for('signup') }}"> signup</a>
        </div>
    </form>
</section>
{% endblock %}


{% block scripts %}
<script src="../static/js/background.js"></script>
{% endblock %}